.track {
  padding: 10px;
  border-radius: 2px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  user-select: "none";
  background: white;
}

.track img{
  cursor: pointer;
}

.wrap-spinner {
  min-height: 320px;
}

.scrollable {
  max-height: 450px;
  overflow: auto;
}